<header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
        <h3>{{ title }}</h3>
        <div class="mdl-layout-spacer"></div>
        <button id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">person</i>
        </button>

        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
            for="demo-menu-lower-right">
            {{#if login }}
                <li class="mdl-menu__item"><a href="/user/profile">User Account</a></li>
                <li class="mdl-menu__item--full-bleed-divider"></li>
                <li class="mdl-menu__item"><a href="/user/logout">Logout</a></li>
            {{ else }}
                <li class="mdl-menu__item"><a href="/user/signup">Sign Up</a></li>
                <li class="mdl-menu__item"><a href="/user/signin">Sign In</a></li>
            {{/if}}
        </ul>
    </div>
</header>
<div class="mdl-layout__drawer">
    <span class="mdl-layout-title"><a href="/">Brand</a></span>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/shopping-cart">
            <i class="material-icons">add_shopping_cart</i>
            <span class="{{#if session.cart}}mdl-badge{{/if}}" data-badge="{{ session.cart.totalQty }}">
                Shopping Cart
            </span>
        </a>
    </nav>
</div>