<header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
        <div class="mdl-layout-spacer"></div>
        <button id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">person</i>
        </button>

        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
            for="demo-menu-lower-right">
            <li class="mdl-menu__item">User Account</li>
            <li class="mdl-menu__item--full-bleed-divider"></li>
            <li class="mdl-menu__item">Logout</li>
        </ul>
    </div>
</header>
<div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Brand</span>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href=""><i class="material-icons">add_shopping_cart</i> Shopping Cart</a>
    </nav>
</div>