<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col"></div>
    <div class="mdl-cell mdl-cell--4-col">
        <h1>{{ title }}</h1>
        {{#if hasErrors}}
            <ul class="mdl-list list-error">
                {{#each messages}}
                    <li class="mdl-list__item list-item"><span class="mdl-list__item-primary-content">{{ this }}</span></li>
                {{/each}}
            </ul>
        {{/if}}
        <form action="/user/signin" method="post">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <label for="email" class="mdl-textfield__label">Email</label>
                <input type="email" class="mdl-textfield__input" id="email" name="email">
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <label for="password" class="mdl-textfield__label">Password</label>
                <input type="password" class="mdl-textfield__input" id="password" name="password">
            </div>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised
                           mdl-js-ripple-effect mdl-button--accent" id="signup-btn">
                Sign In
            </button>
        </form>
        <p>Don't have an account? <a href="/user/signup">Sign up instead!</a></p>
    </div>
    <div class="mdl-cell mdl-cell--4-col"></div>
</div>