.card-square {
    width: 320px;
    height: 320px;
}

.card-square > .mdl-card__title {
    color: #ffffff;
}

.mdl-card__supporting-text {
    color: #7f7f7f;
}

.price {
    font-weight: bold;
    font-size: 16px;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}
